

.titanfall-bg{
    background-image: url(https://w.wallhaven.cc/full/4d/wallhaven-4d81qm.jpg);
    min-height:  30vh;
    background-size: cover;
}

.background{
    background-image: url();
    min-height: ;
    background-size: cover;
    position: relative;
}

.card-spill{
position: absolute;
bottom: 0;
transform: translateY(50%);
}

