

.titanfall-bg{
    background-image: url(https://w.wallhaven.cc/full/4d/wallhaven-4d81qm.jpg);
    min-height:  30vh;
    background-size: cover;
}

.tbackground{
    min-height: 30vh;
    background-size: cover;
    position: relative;
}

.card-spill{
position: absolute;
bottom: 0;
transform: translateY(25%);
}

.font{
    font-family: 'Syne Mono', monospace;
}

.csize{
    min-width: 10em;
    min-height: 5em;
}
